

/* Start:/bitrix/templates/laboratory/template_styles.css?1610106809113*/
.news-list .news-item {
 border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
]
/* End */
/* /bitrix/templates/laboratory/template_styles.css?1610106809113 */
